/* Base.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-links a,
.right-links button {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-links a:hover,
.right-links button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Равномерное распределение элементов по ширине */
}

li {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 0 1 calc(33.33% - 20px); /* Определяем ширину элемента */
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    background: #333333;
    color: white;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

p {
    font-size: 16px;
    margin-bottom: 8px;
}

form {
    text-align: center;
    margin: 0 auto;
}

button {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Добавляем стили для поля ввода адреса */
input[type="text"] {
    font-family: "Roboto Black";
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Добавляем стили при фокусе на поле ввода */
input[type="text"]:focus {
    outline: none;
    border-color: #333;
}
