/* register.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a4a4a4; /* измененный цвет фона */
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 250px;
    max-width: 600px;
    background-color: #333333; /* измененный цвет фона */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* добавлен тень */
}

.form-row {
    margin-bottom: 15px;
}

.form-row label {
    font-size: 16px;
    margin-bottom: 5px;
    color: white; /* измененный цвет текста */
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"] {
    width: calc(100% - 10px); /* изменена ширина инпутов */
    background: none;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    color: white;
    border-bottom: 2px white solid;
    transition: all 1s;
}

.form-row input:focus {
    outline: none;
    border-bottom: 2px #f65849 solid;
    transition: all 1s;
}

.form-row select {
    width: calc(100% - 10px); /* изменена ширина селекта */
    padding: 8px;
    border: 1px solid #cccccc; /* изменен цвет границы */
    border-radius: 5px;
}

button {
    margin: 0 auto;
}

button[type="submit"] {
    background-color: #333333; /* измененный цвет фона кнопки */
    color: #ffffff; /* измененный цвет текста кнопки */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* добавлено плавное изменение цвета */
}

button[type="submit"]:hover {
    background-color: #555555; /* измененный цвет фона кнопки при наведении */
}
