{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/import_yaml.css' %}">
    <title>Import YAML</title>
</head>
<body>
    <h1>Import YAML Data</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'import-yaml' %}">
        {% csrf_token %}
        <label for="yaml_file" class="custom-file-upload">
            <input type="file" id="yaml_file" name="yaml_file">
        </label>
        <button type="submit">Импортировать</button>
        <button class="button_personal_account"><a href="/accounts/profile/" class="personal_account">Личный кабинет</a></button>
    </form>
</body>
</html>
