<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый заказ от покупателя</title>
</head>
<body>
    <h2>Новый заказ от покупателя</h2>
    <p>Здравствуйте!</p>
    <p>У вас поступил новый заказ от покупателя. Ниже представлены детали заказанных товаров:</p>
    <ul>
        {% for item in cart_items %}
            <li>
                <p><strong>Категория:</strong> {{ item.category.name }}</p>
                <p><strong>Модель:</strong> {{ item.model_name }}</p>
                <p><strong>Цена:</strong> {{ item.price }}</p>
            </li>
        {% endfor %}
    </ul>
    <p>Пожалуйста, свяжитесь с покупателем для уточнения деталей заказа.</p>
    <p>С уважением,</p>
    <p>Ваш интернет-магазин</p>
</body>
</html>
