{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/register.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <div class="form-container">
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-row">
                <label for="id_username">Логин:</label>
                {{ form.username }}
            </div>
            <div class="form-row">
                <label for="id_email">E-mail:</label>
                {{ form.email }}
            </div>
            <div class="form-row">
                <label for="id_first_name">Имя:</label>
                {{ form.first_name }}
            </div>
            <div class="form-row">
                <label for="id_last_name">Фамилия:</label>
                {{ form.last_name }}
            </div>
            <div class="form-row">
                <label for="id_password">Пароль:</label>
                {{ form.password }}
            </div>
            <div class="form-row">
                <label for="id_password2">Повтор пароля:</label>
                {{ form.password2 }}
            </div>
            <div class="form-row">
                <label for="id_account_type">Тип аккаунта: Поставщик/Покупатель</label>
                {{ form.account_type }}
            </div>
            <button type="submit">Регистрация</button>
        </form>
    </div>
</body>
</html>