<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Подтверждение заказа</h1>
    <p>Ваш заказ успешно оформлен. Спасибо!</p>
    <h2>Список товаров:</h2>
    <ul>
        {% for item in user_cart %}
            <li>{{ item.category.name }} - {{ item.model_name }} - Цена: {{ item.price }}</li>
        {% endfor %}
    </ul>
</body>
</html>
